* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "微软雅黑", sans-serif;
}

body {
    padding: 20px;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.showtable {
    padding: 20px;
    width: 800px;
    margin: 10px auto;
    margin: 10px;
    background-color: #fff;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

table {
    max-width: 750px;
    width: 750px;
    border-collapse: collapse;
    border: 1px solid #333;
}

td {
    border: 1px solid #333;
    padding: 12px 15px;
    font-size: 16px;
}

.label {
    font-weight: bold;
    text-align: center;
    background-color: #f5f5f5;
    width: 18%;
}

.input-cell {
    height: 20px;
}

.checkbox-group {
    line-height: 2;
}